@import './variables.scss';

body {
  
  background: #fafafa
}

.App {
  text-align: center;
  padding-left: 81px;
}

.drawer > div {
    background: $black;
}

.drawer > .MuiPaper-root {
  padding: 0 20px!important
}

.listItems > li {
  color: #97989f;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px
}

.listItems > .selectedItem {
  color: #e2fa5c;
  background: #2b2a39
}
