@import '../variables.scss';

.barContainer {
    background: $white;
    width: calc(100% - 40px);
    padding: 60px 20px;
    position: relative;
    border-radius: 20px;
    z-index: 99;
    border: 2px solid $grey2;
}

.container {
    position: relative;
    width: 100%;
}

.legend {
    position: absolute;
    top: 15px;
    right: 5px;
    & > span {
        margin-right: 20px;
        color: $secondary;
        display: inline-block;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 100%;
            display: inline-block;
            margin-right: 5px;
            background: $black;
        }
        &:first-child:before {
            background: $green;
        }
        &:last-child:before {
            background: $red;
        }
    }
}

.yData {
    text-align: left;
    width: 100%;
    & > div {
        color: $secondary;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: calc(100% - 40px);
            height: 1px;
            background: $grey;
            margin-left: 40px;
            top: 50%;
        }
    }
    & > div:not(:last-child) {
        margin-bottom: 20px
    }
}

.xData {
    display: flex;
    padding-left: 40px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    text-align: center;
    height: calc(100% - 10px);
    & > div {
        width: 100%;
        position: relative;
        margin: 0 5px;
        cursor: pointer;
        & > .bars {
            height: calc(100% - 10px);
            display: flex;
            align-items: flex-end;
            position: relative;
            margin: 0 20px;
            & > div {
                width: calc(100% - 10px);
                border-radius: 10px;
                transition: .3s;
            }
            & > div:first-child {
                background: $darkGrey;
                margin-right: 10px;
            }
            & > div:last-child {
                background: $black
            }
        }
        & > .label {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            color: $secondary
        }
        
        & > .placeholder {
            width: 100%;
            bottom: -60px;
            background-image: linear-gradient(to bottom, transparent, transparent);
            transition: .3s;
            padding-bottom: 70px;
            position: absolute;
            & > .hoverField {
                position: absolute;
                top: -15px;
                left: 50%;
                transform: translate(-50%, -100%);
                width: 100%;
                background: $white;
                color: $secondary;
                border: 1px solid $blue;
                padding: 5px 0;
                transition: .3s;
                opacity: 0;
                border-radius: 10px;
                font-size: 13px;
                &:after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: #fff;
                    transform: rotateZ(45deg);
                    border-bottom: 1px solid $blue;
                    border-right: 1px solid $blue;
                }
                & > span {
                    display: block;
                }
            }
        }
        &:hover {
            & > .placeholder {
                background-image: linear-gradient(to bottom, rgba($blue, 0.5), rgba($blue, 0.1));
                & > .hoverField {
                    opacity: 1;
                }
            }
            & > .bars {
                & > div:first-child {
                    background: $green;
                    margin-right: 10px;
                }
                & > div:last-child {
                    background: $red
                }
            }
        }
    }
}

// PIE
.pie {
    z-index: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .chartContainer {
        position: relative;
        max-width: 180px;
        & > svg {
            z-index: 9;
        }
        & > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            width: 100px;
            font-size: 13px;
            line-height: 100px;
            border-radius: 100%;
            z-index: -1;
            &::after {
                content: "";
                position: absolute;
                width: 60px;
                height: 60px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                border-radius: 100%;
                background: $white;
            }
            &::before {
                content: "";
                position: absolute;
                width: 110%;
                height: 110%;
                left: 0;
                z-index: -1;
                border-radius: 100%;
                background-image: linear-gradient(to bottom, #fff, $grey);
            }
        }
    }
    .verticalLegend {
        max-width: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > div {
            border-radius: 10px;
            padding: 10px 0;
            display: flex;
            align-items: center;
            .icon {
                width: 60px;
                display: inline-block;
                svg {
                    background: rgba($black, 0.1);
                    padding: 5px;
                    border-radius: 100%;
                }
            }
            .text {
                text-align: left;
                h5 {
                    margin: 0;
                }
            }
        }
    }
}