@import '../variables.scss';

.titleContainer {
    color: $black;
    position: relative;
    z-index: 9;
}

.selectInput {
    border: 2px solid $grey2;
    border-radius: 10px;
    padding: 5px 15px;
    background: $white;
    &::before, &::after {
        display: none;
    }
    & > .MuiSelect-select {
        color: $secondary;
        background: transparent!important;
    }
}